body {
  padding-top: 56px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
/* body,
footer {
  background-color: #59bfa5;
} */
nav.navbar {
  background-color: #59bfa5;
  color:#52514d;
}
a,
.text-primary {
  color: rgb(3, 155, 229);
}
footer a {
  color: cadetblue;
  font-size: small;
}
div.field-value {
  background-color: #17a2b8;
}
div.field-value:hover {
  background-color: #03788bd4;
}
.text-success {
  color: #59bfa5;
}
#__next {
  background-color: #ffffff;
}
/* .footer ul li,
footer ul li a.nav-link {
  color: beige;
} */
.faq-info {
  color: #59bfa5;
}
main.container {
  padding-top: 16px;
}
/**
rainbow sa colors:
black: #10110d;
green: #59bfa5;
yellow: #fac008;
red:#dd4244
**/
.logo-text-y,
.text-yellow {
  color: #fac008;
}
.logo-text-d,
.text-red {
  color: #dd4244;
}
.logo-text-t,
.text-green, form label {
  color: #59bfa5;
}

.logo-text-y,
.logo-text-d,
.logo-text-t {
  font-weight: bold;
}
.danger-text {
  background-color: #dd4244;
  font-weight: bold;
  color: beige;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px;
  margin: 0 0 20px;
  font-size: 30px;
 /*  line-height: 40px;
  border-radius: 4px; */
  /*background: url(../img/bg.png) 0 50%;*/
  color: #59bfa5;
}
.header {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 20px;
  border-radius: 4px;
  /*background: url(../img/bg.png) 0 50%;*/
  border: 1px solid #fff;
  background-color: #59bfa5;
  color: beige;
}
.card {
  margin-bottom: 10px;
}
.latest div.card-header {
  color: #52514d;
  font-weight: bold;
  font-size: 1.5rem;
}
input[type="text"]:focus {
  background-color: bisque;
}
.btn.btn-outline-info a {
  color: #fff;
}
td[class^="sorting_"] {
  color: black !important;
  font-weight: lighter;
}
.float-right-item {
  float: right;
}
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .float-right-item {
    float: left;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
